<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Luka Brinar | Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>

        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">O meni</a></li>
            <li role="presentation"><a href="mojiprojekti.html">Moji Projekti</a></li>
            <li role="presentation"><a href="blog.html">Blog</a></li>
            <li role="presentation"><a href="kontakt.html">Kontakt</a></li>
        </ul>

        <div class="col-md-8">

            <img class="img-responsive" src="http://saveotic.com/images/2017/03/11/Lo9ud.png">

            <h3> O meni </h3>

            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>


    </div>


</body>

</html>
